.container{
  width: 50%;
  margin: 20px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.head{
  float: right;
  width: auto;
  text-align: center;
}
h1{
  text-align: center;
  background: violet;
}
